.EndingSelction{
    /* background:linear-gradient(#0d023a,#000000); */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

}
.line{
    width: 100%;
    height: 5px;
    background-color: white;
    box-shadow: 0 0 20px #00ffea, 0 0 40px #00ffea, 0 0 60px #00ffea;
}
.contactGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 0px 50px;
    align-items: center;
}
.contactGrid img{
    width: 100%;
    max-width: 80px;
}
.sublogo{
    transform: translateX(-4px);
}

.SocialMedia{
    color: white;
    font-size: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
}
.logoGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.logoGrid img {
    width: 100%; /* Responsive width */
    max-width: 30px;
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow for images */
}
