/* Hamburger button */
.hamburger {
  display: none; /* Hidden by default */
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 2000;
}

.sidebar.open {
  left: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 15px 20px;
  text-align: left;
  font-size: 35px;
  cursor: pointer;
  color: #098ce9;
}
.link {
  text-decoration: none;
  color: #098ce9;
}
.sidebar-item button {
  color: #098ce9;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  background-color: transparent;
  border: None;
}

.sidebar-item:hover {
  background-color: #575757;
}

/* Close button */
.close-btn {
  top: 10px;
  right: 20px;
  font-size: 40px;
  color: #098ce9;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
}

.sidebar-logo {
  width: 40px;
  position: absolute;
  left: 20px;
  top: 14px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide the main navbar menu */
  }

  .hamburger {
    display: block; /* Show hamburger button */
  }
}

.arrowSideBar {
  transition: all 0.6s ease;
  margin-left: 5px;
}

.sideBar-dropdown-menu {
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 26px;
  text-align: center;
}

.sideBar-dropdown-menu button {
  margin-bottom: 10px;
  font-size: 26px;
}
