.GeneralProject{
    background-color: black;
    overflow: hidden;
}
.ProjectLandingBackground{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#0a0033, #000000);
}
.projectImg{
    max-width: 600px;
    max-height: 700px;
    animation: upDown 6s infinite;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}

.projectTitle{
    color: white;
    font-size: 60px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4 ), 0 0 20px rgba(0, 255, 255, 0.3);
}
.Projectarrow{
    color: white;
    position: absolute;
    font-size: 70px;
    bottom: 20px;
    animation: arrow 2s infinite;
}
@keyframes arrow {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    
}

@keyframes upDown {
    0%,100%{
        transform: translateX(0px) rotate(-18deg);
    }
    50%{
        transform: translateX(2px) rotate(-20deg);
    }
}
.projectAboutSection{
    margin: 0px;
    padding-top: 100px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    z-index: 1000px;

}

.AboutIndProject h1{
    color: white;
    margin: 0; 
    padding: 0px 20px;
    padding-bottom: 10px;
    font-size: 40px;
}

.AboutIndProject p{
    font-size: 20px;
    margin: 0;
    padding: 0px 20px;
    color: white;
    min-width: 350px;
    max-width: 500px;
}
.carImage{
    max-width: 600px;
    user-select: none;
}
.Carousel{
    max-width: 700px;
    width: 100%;
    
}

@media (max-width: 1748px) {
    .projectAboutSection{
        flex-direction: column;
        align-items: center;
        gap: 50px
    }
    .AboutIndProject{
        min-width: none;
    }
}