.Sponsores{    
    background: linear-gradient(#0d023a,#080124);
    padding: 50px;
    color: white;
}
.Sponsores h1{    
    margin-bottom: 30px;
    color: rgb(208, 207, 207);
    text-align: left;
    font-size: 50px;
}
.sponImages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.sponImages img{
    max-width: 600px;
    border-radius: 30px;
    width: 100%;
}