
section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(../images/wave.png);
    background-size: 1000px 100px;
    animation: animate 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}
.wave#wave1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
.wave#wave3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
.wave#wave4{
    z-index: 997;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes animate {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    
}
.TitleCon{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    gap: 100px;
    align-items: center;
    overflow: hidden;
}



@media (max-width: 768px) {
    .TitleCon{
        flex-direction: column;
    }
}
.titleText{
    margin: 0;
    font-size: 7vw;
    width: 50%;
    padding: 30px;
    color:#3100FF; 
}
.SubPhoto {
    width: 100%;
    max-width: 700px; 
    position: relative;
    right: 10%; 
    z-index: 1;
    transform: rotate(-24deg); 
    animation: asolate 3s ease-in-out infinite; 
}

/* Adjust for medium screens */
@media (max-width: 768px) {
    .SubPhoto {
        max-width: 400px; 
        right: 5%; 
    }
}

/* Adjust for small screens */
@media (max-width: 480px) {
    .SubPhoto {
        max-width: 500px; /* Further reduce max-width */
        transform: translateX(-20px);
    }
}

@keyframes asolate {
    0%,100%{
        transform: translateY(0px) rotate(-24deg);
    }
    50%{
        transform: translateY(10px) rotate(-24deg);
    }
    
}