.about {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 150px 50px 50px;
  background: linear-gradient(#3100ff, #2403a8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

h1 {
  text-align: center;
}

.TeamImage {
  max-width: 1000px;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 100px;
  margin: 0;
}

@media (max-width: 1200px) {
  .TeamImage {
    max-width: 70%; /* Adjust max width for medium screens */
  }
}

@media (max-width: 768px) {
  .TeamImage {
    max-width: 90%; /* Adjust max width for smaller screens */
    max-height: 300px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .TeamImage {
    max-width: 100%; /* Full width for very small screens */
    max-height: 200px; /* Adjust height further for very small screens */
  }
}

.AboutTextBox {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: -10px;
  margin: 0;
  min-width: 350px;
}

.AboutTextBox h1 {
  font-size: 50px;
  margin: 0;
}

.AboutTextBox p {
  font-size: 20px;
  margin-top: 20px;
}
