.awardSection{
    background: linear-gradient(#15035c, #0d023a);
    margin: 0px;
    position: relative;
}
.awardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,500px)); /* Adjust column size */
    gap: 20px; 
    justify-content: space-around;
    padding: 20px; 
}
.awardGrid img{
    width: 100%;
    max-width: 600px;
}

@media (max-width: 560px) {
    .awardGrid{
        grid-template-columns: repeat(auto-fit, minmax(400px,400px)); 
    }
    .awardGrid img{
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .awardGrid{
        grid-template-columns: repeat(auto-fit, minmax(300px,300px)); 
    }
    .awardGrid img{
        max-width: 300px;
    }
}