.officers{
    background: linear-gradient(#2403a8, #1b0478);
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.officers h1{
    margin: 0;
    text-align: left;
    color: rgb(208, 207, 207); 
    font-size: 50px;
    align-self: flex-start;
    margin-bottom: 50px;
}
.officersBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.officer{
    width: 350px;
    height: 100px;
    background: transparent;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    color: rgb(208, 207, 207);
}
.officer h2{
    margin: 0;
    margin-top: 15px;
}
.officer p{
    margin-top: 5px;
}
.officerImage{
    width: 100%;
    max-width: 100px;
    border-radius: 50px;
}