.projects-section {
    padding: 50px;
    text-align: center;
    background:linear-gradient(#1b0478,#15035c);
    position: relative;
    color: rgb(208, 207, 207);
  }
  
  .projects-section h1 {
    margin-bottom: 30px;
    color: rgb(208, 207, 207);
    text-align: left;
    font-size: 50px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-items: center;
  }
  
  .project-card {
    background-color: #1a5f90; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    max-width: 300px; 
  }
  
  .project-card:hover {
    transform: translateY(-10px); 
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }