/* src/Login.css */  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(#0d023a,#000000);
    overflow: hidden;
  }
  
  .login-box {
    background-color: #125D99;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    z-index: 1000;
  }
  .RegisterLink{
    color: #1B1149;
    text-decoration: none;
  }
  
  .login-box h2 {
    color: white; /* Dark Blue Text */
    margin-bottom: 1.5rem;
  }
  
  .login-box input {
    width: 80%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #c2cccc; /* Light grey borders */
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .login-box input:focus {
    outline: none;
    border: 1px solid #53cbec; /* Light Blue */
  }
  
  .login-box button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #1B1149; /* Dark Blue Button */
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #1b1149; /* Darker Purple */
  }

  .error-message {
    color: #e74c3c; /* Red for errors */
    margin-bottom: 1rem;
  }
  .authContainer{
    position: relative;
  }
  .rovLoginScreen{
    max-height: 300px;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%) rotate(-20deg);
    animation: LoginUpDownRight 4s infinite;
  }
  .floatLoginScreen{
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 15%;
    border-radius: 100px;
    animation: LoginUpDownLeft 4s infinite;
  }
  @media (max-width: 1312px) {
    .rovLoginScreen{
      max-height: 300px;
      right: 20%;
      top: 20%;
    }
    .floatLoginScreen{
      max-height: 200px;
      top: 85%;
      left: 50%;
      transform: none;
    }
  }
  .grass{
    position: absolute;
    bottom: 0px;
    height: 40%;
    left: var(--left-offset,0);
  }
  .sand{
    background-color: rgb(84, 76, 44);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
  }

  @keyframes LoginUpDownLeft{
    0%,100%{
      transform: translateY(-50%) rotate(20deg);
    }
    50%{
      transform: translateY(-53%) rotate(20deg);
    }
  }

  @keyframes LoginUpDownRight{
    0%,100%{
      transform: translateY(-50%) rotate(-20deg);
    }
    50%{
      transform: translateY(-53%) rotate(-20deg);
    }
  }