.IsDeleting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: black;
}

.IsDeleting-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.IsDeleting-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.DeleteConfirm, .DeleteCancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.DeleteConfirm {
    background-color: red;
    color: white;
}

.DeleteCancel {
    background-color: gray;
    color: white;
}
