.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Make it fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half its width and height */
    width: 20%; /* Adjust width as needed */
    height: 20%; /* Adjust height as needed */
    background-color: black; /* Transparent background */
    color: white;
    z-index: 9999; /* High z-index to make sure it appears on top */
  }
  
  .loading-gif {
    width: 80px; /* Adjust the size of the loading gif */
    height: 80px;
    margin-bottom: 20px;
  }
  
  .loading-message {
    font-size: 18px;
    color: white; /* Text color */
  }
  