.header{
    display: flex;
    gap: 10px;
}
.OfficersAdmin{
    color: white;
    margin-top: 50px;
    padding: 50px;

}
.Officers{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
button.Add {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button.Add:hover {
    background-color: #218838;
}

button.Add:active {
    transform: scale(0.98);
}
button.Delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-left: 5px;
}

button.Delete:hover {
    background-color: #c82333;
}

button.Delete:active {
    transform: scale(0.98);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: gray;
    color: white; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .addingPopUp{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
.OfficersImage{
    max-width: 100px;
}
.OfficersImage img{
    width: 100%;
    border-radius: 50px;
}
.OfficersFields{
    display: flex;
    flex-direction: column;
}
.OfficersFields input {
    width: 100%; 
    padding: 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 16px; 
    transition: border-color 0.3s ease; 
}

.OfficersFields input:focus {
    border-color: #007bff;
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.IndOfficer{
    display: flex;
    padding: 10px;
}


