/* Modal wrapper - covers the screen */
.modal {
  position: fixed;
  color: black;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Modal content box */
.modal-content {
  background-color: gray;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  height: auto;
  text-align: center;
  position: relative;
  width: 60%;
  height: 60%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  overflow-y: auto;
}

/* Close button style */
.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Crop container */
.crop-container {
  margin-top: 20px;
}

/* Image preview container */
.image-preview-container {
  margin-top: 20px;
}

.image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  max-width: 100px;
}
